<script>
    $( document ).ready(function() {

        var credentialType = "{{credentialType}}";
        var credential = "{{credential}}";


        $("#profile-link").attr("href", "/web/profile?credentialType="+credentialType+"&credential="+credential);


        $.ajax({
            url : "/api/fetch-data",
            method : "post",
            data : JSON.stringify({
                credentialType : credentialType,
                credential : credential,
                offset : -(new Date()).getTimezoneOffset()
            }),
            contentType : "application/json",
            success : function(response,txtStatus){

                var data = response.data;
                var html = "<table><tbody><tr><th></th>";

                var i,key;
                for(key in data.week_wise_data.Sunday){
                    html += "<th>"+key+"</th>";
                }

                html += "</tr>";

                for(key in data.week_wise_data){

                    html += "<tr><td>"+key+"</td>";

                    for(var key1 in data.week_wise_data[key]){
                        html += "<td>"+data.week_wise_data[key][key1]+"</td>";
                    }

                    html += "</tr>";

                }

                html +=  "</tbody></table>"

                $("#best").html(html);
                $("#best").css("display","inherit");


            },
            error : function(){
                console.log("error",arguments);

            },
            complete : function(){
                console.log("complete",arguments);

            }
        });

        $.ajax({
            url : "/api/fetch-profile",
            method : "post",
            data : JSON.stringify({
                credentialType : credentialType,
                credential : credential
            }),
            contentType : "application/json",
            success : function(response,txtStatus){

                var data = response.data;


                $("#profile-img").attr("src",data.profile_image_url);
                $("#name").text(data.name);
                $("#screen-name").text("@"+data.screen_name);

                $("#loading").css("display","none");
                $("#data").css("display","inherit");



            },
            error : function(){
                console.log("error",arguments);

            },
            complete : function(){
                console.log("complete",arguments);

            }
        });
    });
</script>

<div id="home-header">
    <p class="home-heading ">Best Tweet</p>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">

            <div class="well well-lg custom-panel">

                <a class="btn btn-danger" id="profile-link">View Profile</a>
                <a class="btn btn-danger" href="/web/home">Go back Home</a>
                <h2 id="loading">Please wait loading results ...</h2>

                <div id="data">
                    <img class="img-rounded" id="profile-img" src="" >

                    <h1 id="name"></h1>
                    <h3 id="screen-name"></h3>
                    <div id="best"></div>
                </div>


            </div>




        </div>
    </div>

</div>