<script>
    $( document ).ready(function() {

        var credentialType = "{{credentialType}}";
        var credential = "{{credential}}";


        $("#profile-link").attr("href", "/web/profile?credentialType="+credentialType+"&credential="+credential);


        $.ajax({
            url : "/api/fetch-data",
            method : "post",
            data : JSON.stringify({
                credentialType : credentialType,
                credential : credential,
                offset : -(new Date()).getTimezoneOffset()
            }),
            contentType : "application/json",
            success : function(){
                console.log("success",arguments);
            },
            error : function(){
                console.log("error",arguments);

            },
            complete : function(){
                console.log("complete",arguments);

            }
        });

        $.ajax({
            url : "/api/fetch-profile",
            method : "post",
            data : JSON.stringify({
                credentialType : credentialType,
                credential : credential
            }),
            contentType : "application/json",
            success : function(){
                console.log("success",arguments);
            },
            error : function(){
                console.log("error",arguments);

            },
            complete : function(){
                console.log("complete",arguments);

            }
        });
    });
</script>

<div id="home-header">
    <p class="home-heading ">Best Tweet</p>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">

            <div class="well well-lg custom-panel">

                <a class="btn btn-danger" id="profile-link">View Profile</a>
                <a class="btn btn-danger" href="/web/home">Go back Home</a>
                <h2>Please wait loading results ...</h2>

            </div>




        </div>
    </div>

</div>