<script>


    $( document ).ready(function() {

        $("#form1").submit(function(event){

            $("#error-div").css("display","none");

            var screenName = $("#screen-name").val();
            var userId = $("#user-id").val();


            if(! (screenName=="" ^ userId=="")){
                $("#error-message").text("Enter valid parameters.")
                $("#error-div").css("display","inherit");
                event.preventDefault();
                return;
            }

            var credentialType = userId==""?"screen_name":"user_id";
            var credential = userId==""?screenName:userId;

            $("#form1").append("<input type='hidden' name='credentialType' value='"+credentialType+"' />");
            $("#form1").append("<input type='hidden' name='credential' value='"+credential+"' />");

        });
    });


</script>

<div id="home-header">
    <p class="home-heading ">Best Tweet</p>
</div>

<div class="container">

    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">

            <div class="well well-lg custom-panel">
                <h2>Please enter user name or user ID of the twitter user</h2>
                <form id="form1" method="get" action="/web/best-time">
                    <div class="form-group">
                        <label for="user-name">User name</label>
                        <input type="text" class="form-control" id="screen-name"  placeholder="User name">
                    </div>
                    <div class="form-group">
                        <label for="user-id">User id</label>
                        <input type="text" class="form-control" id="user-id"  placeholder="User ID">
                    </div>

                    <div class="alert alert-danger" id="error-div" role="alert">
                        <p id="error-message"></p>
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>



        </div>
    </div>

</div>
